<h1>Showing article details</h1>
<p>Title: <%= @article.title %> </p>
<p>Description: <%=@article.description %></p>
<p>Creator: <%=@article.user.username %></p>

<%= link_to 'All Articles', articles_path() %>
<td><%= link_to 'Edit', edit_article_path(@article) %></td> |
<td><%= link_to 'Delete', article_path(@article), method: :delete,
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>